@charset "UTF-8";

.appointment-li {
	list-style-type: none;
	margin-left: -40px;
}

#filter-form{
	margin: 10px;
}

#filter-form h4{
	display:flex;
	justify-content: space-between;
	align-items: center;
}

#clear-filters-btn{
	background-color: transparent;
	padding: 0px;
	margin: 0px;
	--pico-border-color: transparent;
}

#clear-filters-btn:hover{
	background-color: #ff6161;
}

#clear-filters-btn img{
	height: 50px;
}