@charset "UTF-8";

#btn-logo {
  width: 100px;
  height: 100px;
}

nav {
  background-color: #e5e2e1;
}

.tob-bar-item a {
  color: #ff4687;
  --pico-primary-hover-underline: #ff4687;
}

td:hover {
  cursor: pointer;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deleteBtn {
  background-color: red;
}

.selected-row {
  --pico-background-color: #b8bdbc;
}

.main-btn-modal {
}

.delete-btn-modal {
}

.modal-title {
  text-align: center;
}
