@charset "UTF-8";

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  background: radial-gradient(
    circle,
    #f8f0f8 0%,
    #d3a9b0 35%,
    #f4a6b0 60%,
    #fcb7d4 85%,
    #e4b8a1 100%
  );
}

#div-login {
  border: 3px solid white;
  border-radius: 20px;
  margin-top: 50px;
}

@media (max-width: 600px) {
  #div-login {
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  #div-login {
    width: 50%;
  }
}

@media (min-width: 1001px) {
  #div-login {
    width: 25%;
  }
}

#login-form {
  width: 100%;
}

#div-login h3 {
  color: white;
  margin: 20px 0px;
}

#div-login input:focus {
  border: var(--pico-border-width) solid transparent;
  --pico-box-shadow: 0 0 0 var(--pico-outline-width) transparent;
}

#btn-login {
  background-color: #ff4687;
  border-color: #ff4687;
}
